#mainNav .navbar-brand {
  color: #000000;
}

@media (min-width:992px) {
  #mainNav .navbar-nav > li > a:focus:hover, #mainNav .navbar-nav > li > a:hover {
    color: #000000;
  }
}

@media (min-width:992px) {
  #mainNav .navbar-nav > li > a, #mainNav .navbar-nav > li > a:focus {
    color: rgba(0,0,0,0.7);
  }
}

.bg-primary {
  background: #ff9173;
  background: linear-gradient(#ff9173,#ffe7d6);
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: #ff9173;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-primary {
  /*background: #ffe7d6;*/
  background: linear-gradient(#ffe7d6, #ff9173;
}

.bg-primary {
  /*background-color: #007bff!important;*/
}

#mainNav .navbar-nav > li > a:focus:hover, #mainNav .navbar-nav > li > a:hover {
  color: #ff9173;
}

a:focus, a:hover {
  color: #ff9173;
}

